{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container">

        <ul class="breadcrumb">
            <li><a href="{% url 'containers' %}">Containers</a></li> 
            <li>
                <a href="{% url 'container' %}?container={{container}}">{{container}}</a>
            </li>

            {% for path_entry in path %}
                <li>
                    <a href="{% url 'container' %}?container={{container}}&subdir={{path_entry.subdir}}">{{path_entry.path_element}}</a>
                </li>
            {% endfor %}

       </ul> 


    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 0.5em;" class="hidden-phone"></th>
            <th>Name</th>
            <th style="width: 12.5em;" class="hidden-phone">Created</th>
            <th style="width: 6em;" class="hidden-phone">Size</th>
            <th style="width: 1em;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'upload' %}?container={{container}}&subdir={{upload_subdir}}">Upload</a></li>
                        <li class="divider" />
                        <li><a href="{% url 'create_folder' %}?container={{container}}&subdir={{upload_subdir}}">Create Pseudofolder</a></li>
                    </ul>
                </div>
            </th>
        </tr>
        </thead>
        {% if subdirs or folder_objects %} 
        <tbody>
        {% for subdir in subdirs %}
            <tr>
                <td class="hidden-phone">{% bootstrap_icon "folder-open" %}</td>
                <td> 
                    <strong>
                        <a href="{% url 'container' %}?container={{container}}&subdir={{subdir.subdir}}/">{{subdir.display_name}}</a>
                    </strong>
                </td>
                <td class="hidden-phone"></td>
                <td class="hidden-phone"></td>

                    <td>
                    </td>
            </tr>
        {% endfor %}

        {% for folder_object in folder_objects %}
            <tr>
                <td class="hidden-phone"><i class="icon-file"></i></td>
                <td>{{folder_object.display_name}}</a></td>
                <td class="hidden-phone">{{folder_object.last_modified}}</td>
	            <td class="hidden-phone">{{folder_object.bytes}}</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'delete_object' %}?container={{container}}&subdir={{upload_subdir}}&object_name={{folder_object.name}}" onclick="return confirm('Delete {{folder_object.display_name}}?');">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody> 
        {% else %}
        <tbody>
            <tr>
                <th colspan="5" class="center">
                    <strong><center>There are no objects in this container yet. Upload new objects by clicking the plus button.<center></strong>
                </th>
            </tr>
        </tbody>
        {% endif %}
        <tfoot><tr><td colspan="5"></td></tr></tfoot>
    </table>
</div>
{% endblock %}
    {% block jsadd %} <script type="text/javascript"> $('input[id=file]').change(function() { $('#filetmp').val($(this).val()); }); </script> {% endblock %}


