{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'containers' %}">Containers</a></li>
        </ul> 
    
        <table class="table table-striped">
        
        <thead>
            <tr>
                <th style="width: 1em;" class="hidden-phone"></th>
                <th>Name</th>
                <th style="width: 1em;" class="hidden-phone">Objects</th>
                <th style="width: 5em;" class="hidden-phone">Size</th>
                <th style="width: 1em;">
                    {% url 'create_container' as create_url %}
                    {% if create_url %}
                    {% bootstrap_button 'Create' icon='plus' button_class='btn-mini btn-danger' href=create_url extra_classes='pull-right' %}
                    {% endif %}
                </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
            <tr>
            <td class="hidden-phone"><i class="icon-inbox"></i></td>
            <td>
                <strong>
                    <a href="{% url 'container' %}?container={{container.name}}">{{container.name}}</a>
                </strong>
            </td>
    	    <td class="hidden-phone">{{container.count}}</td>
    	    <td class="hidden-phone">{{container.bytes|filesizeformat}}</td>

            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'delete_container' %}?container={{container.name}}" onclick="return confirm('Delete {{container.name}}?');">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>

            </tr> 

        {% empty %}
        <tr>
            <td colspan="5">
            <strong><center>There are no containers in this account yet. Create a new container by clicking the red button.<center></strong>
            </td>
        </tr> 
 
        {% endfor %}
        </tbody> 
       
        <tfoot>
            <tr>
                <th colspan="5" class="center">
                    {{account_stat.x_account_bytes_used|filesizeformat}} 
                    {% if account_stat.x_account_meta_quota_bytes %}
                        of
                        {{account_stat.x_account_meta_quota_bytes|filesizeformat}} 
                    {% endif %}
                    used
                </th>
            </tr>
        </tfoot>
        </table>
        </div>
        </div>
    {% endblock %}


