{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container">

        <ul class="breadcrumb">
            <li><a href="{% url 'containers' %}">Containers</a></li> 
            <li>
                <a href="{% url 'container' %}?container={{container}}">{{container}}</a>
            </li>

            {% for path_entry in path %}
                <li>
                    <a href="{% url 'container' %}?container={{container}}&subdir={{path_entry.subdir}}">{{path_entry.path_element}}</a>
                </li>
            {% endfor %}

       </ul> 

<form method="POST" action="{% url 'create_folder' %}">
    {% csrf_token %}
    {% bootstrap_form form%}
    {% bootstrap_button 'Create' button_type='submit' %}
</form>

{% endblock %}


